
class {{classname}}
{
    {{#allowableValues.enumVars.length}}
        {{#allowableValues.enumVars}}
        public const {{name}} = {{{value}}};
        {{/allowableValues.enumVars}}
    {{/allowableValues.enumVars.length}}
    {{^allowableValues.enumVars.length}}
        // No enum values defined
    {{/allowableValues.enumVars.length}}
}