
class {{classname}}
{
    {{#allowableValues.enumVars}}
     const {{name}} = {{{value}}};
    {{/allowableValues.enumVars}}
    {{^allowableValues.enumVars}}
    // No enum values defined
    {{/allowableValues.enumVars}}
}